include includes/login-screen.pug
include includes/variables.pug
include includes/mixins.pug
include includes/home-screen.pug
include includes/overview-screen.pug
include includes/chat-screen.pug
include includes/server-settings-screen.pug
include includes/quick-tools-screen.pug
include includes/player-management-screen.pug
include includes/import-and-export-server-settings-screen.pug
include includes/effects-and-tag-management-screen.pug
include includes/rules-management-screen.pug
include includes/server-logs-screen.pug
include includes/change-server-screen.pug
include includes/website-settings-screen.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description",content="A Bs Server Settings Editor")
		title Server Manger (Beta)
		//- Page Logo 
		link(rel="shortcut icon", href="assets/imgs/favicon.ico", type="image/x-icon")
		//- Main Css File
		link(
		rel="preload"
		href="css/style.min.css"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
		)
		//- noscript: link(href="css/style.min.css",
			rel="text/css")
		link(rel="stylesheet", href="css/style.min.css") 
		//- Google Fonts
		link(rel="preconnect",
			href="https://fonts.googleapis.com")
		link(rel="preconnect",
			href="https://fonts.gstatic.com",crossorigin )
		link(
		rel="preload"
		href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
		)
		//- noscript: link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap",
			rel="text/css")
		link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap",
			rel="stylesheet")
	body
		//- Login Screen
		//- +login-screen
		//- Home Screen
		+home
		//- Overview Screen
		+overview
		//- Chat Screen
		+chat
		//- Player Management
		+player-management
		//- Server Settings
		+server-settings
		//- Rules Management Screen
		+rules-management
		//- Quick Tools
		+quick-tools
		//- Server Logs
		+server-logs
		//- Effects And Tags Management
		+effects-and-tag-management
		//- Import/Export Server Settings
		+import-and-export-server-settings
		//- Change Server 
		+change-server
		//- Website Settings
		+website-settings

		script(src="js/script.min.js" async defer)