include includes/variables.pug
include includes/mixins.pug
include includes/home-screen.pug
include includes/overview-screen.pug
include includes/chat-screen.pug
include includes/server-settings-screen.pug
include includes/quick-tools-screen.pug
include includes/player-management-screen.pug
include includes/import-and-export-server-settings-screen.pug
include includes/effects-and-tag-management-screen.pug
include includes/rules-management-screen.pug
include includes/server-logs-screen.pug
include includes/change-server-screen.pug
include includes/website-settings-screen.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description",content="A Bs Server Settings Editor")
		title Server Manger (Beta)
		//- Page Logo 
		link(rel="shortcut icon", href="assets/imgs/favicon.ico", type="image/x-icon")
		//- Main Css File
		link(rel="stylesheet", href="css/style.min.css") 
		//- Google Fonts
		link(rel="preconnect",
			href="https://fonts.googleapis.com")
		link(rel="preconnect",
			href="https://fonts.gstatic.com",crossorigin )
		link(
		rel="preload"
		href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
		)
		noscript: link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap",
			rel="text/css")

	body 
		+home
		//- Overview Screen
		div.overview-screen.screen#overview 
			+overview
		div.chat-screen.screen#chat
			+chat
		div.player-management-screen.screen#player-management
			+player-management
		div.server-settings-screen.screen#server-settings
			+server-settings
		//- Rules Management Screen
		div.rules-management-screen.screen#rules-management
			+rules-management
		div.quick-tools-screen.screen
			+quick-tools
		div.server-logs-screen.screen#server-logs
			+server-logs
		div.effects-and-tag-management-screen.screen#effects-and-tag-management
			+effects-and-tag-management
		div.import-and-export-settings-screen.screen#import-and-export-settings
			+import-and-export-server-settings
		div.change-server-screen.screen#change-server
			+change-server
		div.website-settings-screen.screen#website-settings
			+website-settings

		script(src="js/script.min.js" async defer)